<main class="main">
  <section class="post-list">
    @for (post of posts(); track post.title) {
      <app-post-card [post]="post" />
    } @empty {
      <p>No itens found</p>
    }
  </section>

  <!-- <article class="post">
    <h2 class="post-title">Understanding TypeScript</h2>
    <p class="post-body">
      TypeScript is a typed superset of JavaScript that makes coding easier and
      more reliable. Dive in to learn the basics.
    </p>
  </article>
  <article class="post">
    <h2 class="post-title">CSS Tips for Beginners</h2>
    <p class="post-body">
      Want to make your websites look stunning? These CSS tips will help you
      design like a pro.
    </p>
  </article> -->

  <app-post-form (submitForm)="addPost($event)" />
</main>
